        <div class="placeholder">
            <div class="placeholder__close">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x placeholder__icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                   <line x1="18" y1="6" x2="6" y2="18"></line>
                   <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </div>
            <div class="placeholder__content">
                <div class="placeholder__title">
                    <div class="placeholder__title-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus placeholder__icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <circle cx="12" cy="12" r="9"></circle>
                           <line x1="9" y1="12" x2="15" y2="12"></line>
                           <line x1="12" y1="9" x2="12" y2="15"></line>
                        </svg>
                    </div>
                    <h3 class="placeholder__title-text heading-regular heading-3">Trips</h3>
                </div>
                <p class="placeholder__text">
                    Plan your next trip with places you wish to visit and get fully prepared.
                </p>
            </div>
        </div>
        <div class="placeholder">
            <div class="placeholder__close">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x placeholder__icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                   <line x1="18" y1="6" x2="6" y2="18"></line>
                   <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </div>
            <div class="placeholder__content">
                <div class="placeholder__title">
                    <div class="placeholder__title-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus placeholder__icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <circle cx="12" cy="12" r="9"></circle>
                           <line x1="9" y1="12" x2="15" y2="12"></line>
                           <line x1="12" y1="9" x2="12" y2="15"></line>
                        </svg>
                    </div>
                    <h3 class="placeholder__title-text heading-regular heading-3">Lists</h3>
                </div>
                <p class="placeholder__text">
                    Create a list to organise and accomplish multiple goals in one place.
                </p>
            </div>
        </div>
        <div class="placeholder">
            <div class="placeholder__close">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x placeholder__icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                   <line x1="18" y1="6" x2="6" y2="18"></line>
                   <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </div>
            <div class="placeholder__content">
                <div class="placeholder__title">
                    <div class="placeholder__title-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus placeholder__icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <circle cx="12" cy="12" r="9"></circle>
                           <line x1="9" y1="12" x2="15" y2="12"></line>
                           <line x1="12" y1="9" x2="12" y2="15"></line>
                        </svg>
                    </div>
                    <h3 class="placeholder__title-text heading-regular heading-3">Goals</h3>
                </div>
                <p class="placeholder__text">
                    Create a short or long-term goal and track your progress with subtasks.
                </p>
            </div>
        </div>
